@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.bpmn-stories-container {
  background-color: white;
  display: grid;
  height: 100%;
  width: 100%;
  overflow: hidden;
  grid-template-columns: 35vw 65vw;
  grid-template-rows: 70vh 30vh;
}

.bpmn-stories-left-top-box {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.bpmn-stories-left-bottom-box {
  background-color: #0a0a0aff;
  color: white;
  border: solid 1px black;
  padding: 0.5rem 1rem 1rem 1rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.bpmn-stories-left-bottom-box h3 {
  margin-top: 0.5rem;
}

.bpmn-stories-difficulty {
  display: flex;
  font-size: smaller;
  gap: 1.5rem;
}

.bpmn-stories-tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin: 0.5rem 0 0 0;
  font-size: smaller;
}

.bpmn-stories-tags div {
  padding: 0.3rem 0.5rem;
  border-radius: 0.8rem;
  background-color: #c54302;
  color: white;
  width: fit-content;
}

.bpmn-stories-conversation {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #007e8aff;
  padding: 1rem 1rem 0 1rem;
  height: calc(100% - 1rem);
  width: calc(100% - 2rem);
  overflow: scroll;
  overscroll-behavior: contain;
  overflow-x: hidden;
  scrollbar-width: thin;
  letter-spacing: 0.1px;
  line-height: 1.1rem;
  font-size: 1rem;
}

.bpmn-stories-right-box {
  background-color: #424242ff;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
}

.bpmn-stories-viewer-header {
  height: 3rem;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.bpmn-stories-viewer-header-button {
  background-color: #424242ff;
  color: white;
  position: relative;
  margin: 0;
  height: 3rem;
  padding: 0.5rem 1.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.bpmn-stories-viewer-header-button:hover {
  overflow: visible;
  white-space: normal;
}

.bpmn-stories-viewer-header-button:hover,
.bpmn-stories-viewer-header-button .selected-file,
.bpmn-stories-viewer-header-button:active {
  color: black;
}

.bpmn-stories-viewer-header .selected-file::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #0f62fe;
  content: "";
}

.bpmn-stories-viewer {
  height: calc(100% - 3rem);
}

.bpmn-stories-right-box .react-bpmn-diagram-container,
.bpmn-stories-right-box .react-dmn-diagram-container,
.bpmn-stories-right-box .react-form-container {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  background-color: #f9f9f9;
  padding: 1rem;
}

.bpmn-stories-right-box .fjs-container {
  overflow-y: scroll;
}

.bpmn-stories-right-box .dmn-decision-table-container {
  width: 100%;
}

.checked {
  color: #c54302;
}

.bpmn-stories-return-link {
  background: black;
  color: #d2ff1cff;
  padding: 1.5rem;
  text-decoration: none;
  font-size: x-large;
}

@media (max-width: 800px) {
  .bpmn-stories-container {
    grid-template-columns: 100vw;
    grid-template-rows: auto 30rem 30rem;
    overflow-y: scroll;
    overscroll-behavior: auto;
  }

  .bpmn-stories-left-top-box {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .bpmn-stories-left-bottom-box {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .bpmn-stories-right-box {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
